<footer class="footer footer-info border-top border-4 border-body">
  <div class="footer-top">
    
    <div class="">
      <i class="fa-solid fa-globe"> </i>
      <p>English (IN) &#8377;INR</p>
      <p></p>
    </div>

    <div class="footer-social">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 WonderLand, Inc.</p>
    <div class="footer-links">
      <a href="/Privacy">Privacy</a>
      <a href="/Terms">Terms</a>
      <a href="/Company details">Company details</a>
    </div>
  </div>
</footer>
